html {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
}

*,
:after,
:before,
html {
	box-sizing: border-box;
}
*:before {
	box-sizing: inherit;
}
*,
:after,
:before,
html {
	box-sizing: border-box;
}
*:after {
	box-sizing: inherit;
}

body {
	overflow-x: hidden;
	font-family: ProximaNova-Regular;
	font-weight: normal;
	font-style: normal;
	text-rendering: optimizeLegibility;
	word-wrap: break-word;
	font-kerning: normal;
	color: #404040;
	margin: 0;
	font-feature-settings: "kern", "liga", "clig", "calt";
}

a {
	outline: none;
	text-decoration: none;
	background-color: transparent;
}

h1 {
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	margin-bottom: 1.45rem;
	color: inherit;
	font-weight: bold;
	text-rendering: optimizeLegibility;
	font-size: 2rem;
	line-height: 1.1;
	font-family: 'Roboto', sans-serif;
	font-weight: 600;
}
h2 {
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	margin-bottom: 1.45rem;
	color: inherit;
	font-weight: bold;
	text-rendering: optimizeLegibility;
	font-size: 1.51572rem;
	line-height: 1.1;
	font-family: 'Roboto', sans-serif;
	font-weight: 600;
}
h3 {
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	margin-bottom: 1.45rem;
	color: inherit;
	font-weight: bold;
	text-rendering: optimizeLegibility;
	font-size: 1.31951rem;
	line-height: 1.1;
	font-family: 'Roboto', sans-serif;
	font-weight: 600;
}
p {
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	margin-bottom: 1.45rem;
}
p {
	margin: 0 0 1.5rem;
	font-size: 1.1rem;
	font-family: ProximaNova-Regular;
	font-weight: normal;
	font-style: normal;
	line-height: 150%;
}

img {
	max-width: 100%;
	margin-top: 0;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	margin-left: 0;
}

/* BUTTON */
.button,
[type=button],
[type=submit],
a.button,
button {
	-webkit-appearance: none;
	display: inline-block;
	border: 2px solid #5183f5;
	border-radius: 4px;
	background: #5183f5;
	color: #fff;
	font-family: ProximaNova-Bold;
	font-size: 1rem;
	text-transform: none;
	padding: .5rem .8rem;
	margin: 0 0 .5rem;
	vertical-align: middle;
	text-align: center;
	cursor: pointer;
	text-decoration: none;
	line-height: 1;
}

.section {
	margin: 40px 0;
}

.container {
	max-width: 800px;
	padding: 0 1.5rem;
	margin-left: auto;
	margin-right: auto;
}

.page {
	display: flex;
	flex-wrap: wrap;
}

.container {
	max-width: 800px;
	margin-right: auto;
	margin-left: auto;
}

/* GLOBAL */
.nav {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 3;
	width: 100%;
	background: white;
	box-shadow: 1px 2px 18px rgba(0, 0, 0, .1);
}

.nav .nav-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 1.5rem;
	height: 55px;
	max-width: 800px;
	margin: auto;
	transition: height .3s ease;
}

.nav .brand.text {
	display: block;
}

.brand a span {
	display: none;
}

.favicon {
	height: auto;
	width: 20px;
	min-width: 20px;
	margin-bottom: 0;
	margin-right: .75rem;
}

.nav .brand a {
	display: flex;
	align-items: center;
	color: #333;
	margin-right: 0;
	font-family: ProximaNova-Bold;
	font-size: 1.1rem;
}

.nav .links a.first-icon {
	padding: .6rem 0;
}

.nav .links {
	display: flex;
	align-items: center;
	margin: 0;
	flex-direction: row;
	justify-content: space-between;
	flex: 1 1;
}

.nav .links a {
	font-family: ProximaNova-Regular;
	font-weight: normal;
	font-style: normal;
	font-size: .9rem;
	padding: .6rem;
	color: rgba(0, 0, 0, .45);
	text-align: center;
}

.nav .links a:hover {
	color: #5183f5;
}

.nav .links a:last-child {
	padding: 0;
}

.octocat {
	display: block;
	margin: 0;
	width: 35px;
	height: auto;
	/* max-width: 26px; */
	/* min-width: 26px; */
	padding-right: 0;
}

/* MAIN */
#main-content {
	margin-top: 55px;
	padding: 40px 0 0;
}

.header {
	margin: 0 auto;
}
.header h1 {
	font-family: 'Roboto', sans-serif;
	font-weight: 600;
	font-size: 2.6rem;
	margin-top: 0;
	margin-bottom: 1.5rem;
}
.header p {
	margin: 0 0 1rem;
}

.header-top p {
	font-size: 1.1rem;
	font-family: ProximaNova-Regular;
	font-weight: normal;
	font-style: normal;
	line-height: 150%;
}

.github-button {
	display: flex;
	align-items: center;
}

.highlight {
	color: #5183f5;
	font-family: ProximaNova-Bold;
}

.get-updates {
	display: flex;
	align-items: center;
	flex-direction: column;
	border-radius: 4px;
	margin: 2rem 0;
	padding: 1.5rem;
	text-align: center;
	background: #f0f0f0;
}
.get-updates .code {
	width: 30%;
}
.get-updates img {
	max-width: 100%;
	height: auto;
	margin-bottom: 1rem;
}
.get-updates h3 {
	margin: 0 0 .75rem;
}
.get-updates .button {
	padding: .75rem 1rem;
}

.projects .each {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: .5rem 0;
	border-bottom: 2px solid #f2f2f2;
}

.projects h2 {
	font-size: 1.2rem;
	border-bottom: none;
	margin: 0 1rem 0 0;
	font-weight: 600;
	color: #404040;
	padding: 0;
	min-width: 110px;
}
.projects h2 a {
	display: flex;
	align-items: center;
	color: #404040;
}
.projects p {
	display: none;
}
.projects .buttons {
	display: flex;
	align-items: baseline;
}
.projects .button {
	margin-left: .5rem;
	margin-top: 0;
	margin-bottom: 0;
	padding: .5rem;
	font-size: .8rem;
}
.buttons span {
	display: inline-flex;
	align-self: center;
}

/* FOOTER */
.footer {
	display: flex;
	align-items: center;
	margin-top: 2.5rem;
	flex-direction: column;
	justify-content: space-between;
	color: rgba(0, 0, 0, .6);
}

.footer div {
	padding-bottom: 1.5rem;
	display: flex;
	align-items: center;
}

.footer div a {
	font-weight: 400;
	display: flex;
	align-items: center;
	margin-right: 1.5rem;
}

.footer div a:last-child {
	margin-right: 0;
}

.footer img {
	width: 30px;
	height: auto;
	margin-right: .5rem;
	display: inline-block;
	cursor: pointer;
}

.footer a span img.footer-link-contact {
	width: 25px;
}

.footer-links a:hover {
	color: #5183f5;
	cursor: pointer;
}
.footer-links a:visited {
	color: #404040;
	cursor: pointer;
}
